.customBody {
  width: 100%;
  overflow-x: hidden;
}

.customHeader {
  background-color: #f72210;
  fill: white;
  color: white;
}

.customHeader__customButtonSubscribe {
  width: calc(80px + 10% * 94 / 320);
}

.customHeader__customSvg_logoSm {
  width: 132px;
  line-height: 16px;
}

.customHeader__customSvg_logoLg {
  width: 396px;
}

.customHeader__customLoginIcon {
  width: 30px;
}

.customButtonSubscribe {
  background-color: yellow;
  color: black;
  border: 0;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

.customSvg {
  color: inherit;
  fill: inherit;
  font-weight: 700;
}

.customSectionTitle {
  color: rgba(3, 3, 3, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: calc(27rem / 16);
  line-height: 16px;
}

.customCategoryTitleA {
  color: #f72210;
  line-height: 1.5;
  z-index: 999;
}

.customCategoryTitleDiv {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.customArticleTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
  height: auto;
  line-height: 24px;
}

.customArticleIntro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: min-content;
  line-height: 18px;
}

.customText1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
}

.customText2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: min-content;
}

.customLgMenu {
  width: 95%;
}

.customMenuLink1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border-right: 1px solid #d9d9d9;
  width: max-content;
}

.customLgMenu::after {
  left: -25px;
  transform: rotate(-45deg);
}

.customSearch {
  width: 8%;
}

.customThumb {
  max-width: 75px;
}

.customArticleReduced {
  max-width: 300px;
}

.customLogoLittle {
  max-width: 30px;
}

.customText3 {
  color: #f72210;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 27px;
  line-height: 16px;
}

.customFooterLogo {
  fill: #f72210;
  max-width: 236px;
}

.customFooterCopyright {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
}

.customSocialIcon {
  width: 25px;
  height: 25px;
}

.customText4 {
  color: rgb(102, 102, 102);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  line-height: 24px;
}
